/* You can add global styles to this file, and also import other style files */

body {
  background: linear-gradient(90deg, black, #192155);
}
h1 {
  color: #e214a0 !important;
}

h2 {
  color: #00ffff !important;
}

.divBg {
  background-color: #420238e7 !important;
}
