<div class="row">
  <div class="row">
    <h3>
      Totale foto favorite:
      {{ totalFavoritePhotos }}
    </h3>
  </div>
  <div class="col-3 my-3" *ngFor="let photo of photosArr">
    <div class="card h-100">
      <img [src]="photo.url" class="card-img-top" alt="photo" />
      <div class="card-body">
        <h5 class="card-title">{{ photo.title }}</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <button class="btn btn-success me-3" (click)="addToFavorite(photo)">
          Mi piace
        </button>
        <button class="btn btn-danger" (click)="delete(photo.id)">
          Elimina
        </button>
      </div>
    </div>
  </div>
</div>
